.m1{
width: 160px;
height: 40px;
margin-left: 100px;
}
.m2{
    width: 540px;
    height: 20px;
    color: gray;
 
}
.ota{
width: 600px;
height: 41px;
   display: flex;
   justify-content: space-between;
   margin-left: 900px;
  

}

.w2{   background-color: blue;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    color: white;
    border: 1px solid white;
    margin-top: 40px;
    margin-left: 100px;
}
.m6{
    width: 550px;
    height: 350px;
 display: flex;
 justify-content: end;
}
.m4{
    width: 200px;
    height: 60px;
    margin-left: 100px;
}
.m5{
     width: 200px;
    height: 60px;
    margin-left: 100px;
}
.m9{
    display: flex;
    gap: 600px;
}
h2{
    text-align: center;
}
.q1{
    width: 900px;
    height: 60px;
    text-align: center;
    margin-left: 200px;
}
.q2{
    width: 300px;
    height: 300px;
    background-color: rgb(227, 226, 226);
  border-radius: 15px;
  padding-top: 40px;
  padding-left: 50px;
}
.o1{
    width: 1100px;
    height: 1050px;
      display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
   margin: auto;
}
.w1{
    background-color: white;
    border-radius: 15px;
    border: 1px solid blue;
    color: blue;
    width: 100px;
    height: 30px;
    margin-left: 700px;
}
h1{
    margin-left: 690px;
}
.w4{
    width: 600px;
    height: 400px;
    margin-left: 100px;
}
.w3{
    display: flex;
    justify-content: space-between;
}
.w0{
    width: 300px;
    height: 400px;
    margin-left: 100px;
}
.w2{
      background-color: white;
    border-radius: 15px;
    border: 1px solid blue;
    color: blue;
    width: 100px;
    height: 30px;
}
.b1{
    display: flex;
    justify-content: space-around;
}
.b3{
    background-color: white;
    border-radius: 15px;
    border: 1px solid blue;
    color: blue;
    width: 100px;
    height: 30px; 
    margin-left: 700px;
}
.b2{
    width: 380px;
    height: 500px;
}
a{
    color: rgb(95, 95, 255);
}
footer{
    width: 1600px;
    height: 430px;
    background-color: rgb(95, 95, 255);
    margin-top: 250px;
    color: white;
    display: flex;
    justify-content: space-around;
   
}
.y1{
    width: 400px;
}
.y2{
    width: 80px;
}
.w2:active{
    background-color: blue;
    color: white;
}
.q2:hover{
    background-color: blue;
    color: white;
}
.w1:active{
    background-color: blue;
    color: white;
}
.b3:active{
    background-color: blue;
    color: white;
}
.b2:hover{
    background-color: rgb(210, 210, 210);
    color: white;
    border-radius: 15px;
    transform: translateY(50px);
}